{% extends "base.html" %}
{% block title %}View Recipes{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Recipes</h1>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="{{ url_for('uploaded_file', filename=recipe.image) }}" class="card-img-top" alt="{{ recipe.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">Prep Time: {{ recipe.prep_time }}</p>
                <a href="{{ url_for('recipe_details', recipe_id=recipe.id) }}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
